**/.vitepress/cache
**/coverage/
*.bak
.DS_Store
.astro
.env**
.next
.turbo
.wrangler
dist
node_modules

.config/www/api

examples/catppuccin-rss/**/*.x*
core/auto-readme/config
core/example/scripts/examples.json
