**/.vitepress/cache
**/coverage/
*.bak
.DS_Store
.astro
.react-router
.env**
.next
.turbo
.wrangler
dist
node_modules

.config/www/api
.config/www/public/*
!.config/www/public/favicon.svg

examples/catppuccin-opml/vanilla/public/**/*
examples/catppuccin-rss/**/*.x*
core/auto-readme/config
core/example/scripts/examples.json
