**/coverage/
*.bak
.DS_Store
.astro
.env**
.next
.turbo
.wrangler
dist
node_modules
typedoc.css

test-report.junit.xml

examples/catppuccin-rss/**/*.x*
core/auto-readme/config
core/example/scripts/examples.json
