{
	"semi": true,
	"useTabs": true,
	"quoteProps": "consistent",
	"singleQuote": false,
	"jsxSingleQuote": false,
	"overrides": [
		{ "files": ["*.md"], "options": { "tabWidth": 2, "useTabs": false } },
		{ "files": "*.astro", "options": { "parser": "astro" } },
		{
			"files": ["pnpm-workspace.yaml"],
			"options": {
				"useTabs": true,
				"singleQuote": true
			}
		}
	],
	"plugins": [
		"@stephansama/prettier-plugin-handlebars",
		"prettier-plugin-jsdoc",
		"prettier-plugin-astro",
		"prettier-plugin-svelte",
		"prettier-plugin-packagejson",
		"prettier-plugin-astro-organize-imports",
		"prettier-plugin-organize-imports"
	]
}
