{
	"semi": true,
	"useTabs": true,
	"quoteProps": "consistent",
	"singleQuote": false,
	"jsxSingleQuote": false,
	"plugins": ["prettier-plugin-organize-imports"],
	"overrides": [
		{ "files": ["*.md"], "options": { "tabWidth": 2, "useTabs": false } }
	]
}
