---
const urls = ["/opml.xml", "/rss.xml", "/sitemap-0.xml"];
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link href="/favicon.svg" rel="icon" type="image/svg+xml" />
		<meta content="width=device-width" name="viewport" />
		<meta content={Astro.generator} name="generator" />
		<title>Catppuccin xsl</title>
	</head>
	<body>
		<h1>Astro</h1>
		{
			urls.map((url) => (
				<a href={url}>
					{url.replace(".xml", "").replace("/", "").replace("-0", "")}
				</a>
			))
		}
	</body>
</html>
