---
import "virtual:iconify-svgmap";
import { getIcon } from "@stephansama/astro-iconify-svgmap/get";

const icons = await Promise.all(
	[
		["logos", "azure-icon"],
		["logos", "alpinejs"],
		["logos", "astro"],
		["octicon", "copilot-16"],
		["heroicons", "newspaper-solid"],
	].map(async ([pack, name]) => await getIcon(pack, name)),
);
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link href="/favicon.svg" rel="icon" type="image/svg+xml" />
		<meta content="width=device-width" name="viewport" />
		<meta content={Astro.generator} name="generator" />
		<title>Astro</title>
	</head>
	<body>
		<h1>Astro</h1>
		{
			icons.map((href) => (
				<svg>
					<use {href} />
				</svg>
			))
		}
	</body>
</html>
